.App {
  display: flex;
  width: 100%;
  height: 300%;
  align-items: stretch;
}

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
/* @import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700"; */


body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  /*background: #fafafa;*/
  background-color: #f5f9fc;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 180px;
  max-width: 180px;
  background: #354052;
  color: #adb5bd;
  margin-left: -180px;
  transition: all 0.5s;
  height: 100%;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: #313b4c;
  color: #adb5bd;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show,
.collapsing {
  background: #313b4c;
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}

.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;
  }

  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    /*height: 100vh !important;*/
    height: 100%;
  }

  .sidebar.is-open > .sidebar-header button {
    display: block;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }

}



/* http://demo.evatheme.com/html/white/image_slider/index.html */
/*-----------------------------------------------------------------------------------*/
/*	RECENT POSTS
/*-----------------------------------------------------------------------------------*/
.post_item_img {position:relative;}
.post_item_img:before {
	content:'';
	position:absolute;
	z-index:25;
	left:0;
	top:0;
	width:100%;
	height:100%;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.post_item:hover .post_item_img:before {background-color:rgba(0,0,0,0.8);}
.post_item_content {padding:23px 0 0;}
.post_item_content a.title {
	font-weight:300;
	line-height:34px;
	font-size:24px;
	color:#333;
}
.post_item_inf {padding-top:2px;}
.post_item_inf li {
	display:inline-block;
	padding-right:12px;
	color:#ccc;
}
.post_item_inf a {
	padding-right:12px;
	font-weight:300;
	font-size:14px;
}
.post_item_img a.link {
	position:absolute;
	z-index:30;
	left:50%;
	bottom:30%;
	width:60px;
	height:36px;
	margin:0 0 -18px -30px;
	opacity:0;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:100% auto;
	-webkit-background-size:100% auto;
	transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
	-webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.post_item:hover .post_item_img a.link {
	bottom:50%;
	opacity:1;
}
